<div class="collection-list-container">
  <div class="top">
    <div class="title">
      <h2>Collections</h2>
    </div>
    <div class="list-nav">
      <button class="btn btn-green" (click)="openNewCollectionModal()">+ Add new</button>
    </div>
  </div>
  <div class="collection-list">
    <app-collection-card></app-collection-card>
    <app-collection-card></app-collection-card>
    <app-collection-card></app-collection-card>
    <app-collection-card></app-collection-card>
    <app-collection-card></app-collection-card>
  </div>
</div>
