.collection-list-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
}

.collection-list {
  display: flex;
  gap:  2rem;
}

.top {
  display: flex;
  justify-content: space-between;
}

.title span {
  font-size: 1rem;
}

.title h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #3F3C48;
}
