td {
  padding: 20px;
}

td:nth-child(1) {
  width: 10px;
}

td:first-child {
  border-radius: 10px 0 0 10px;
}

td:last-child {
  border-radius: 0 10px 10px 0;
}

.actions-td {
  width: 80px;
  height: 20px;
}

.item-btn {
  display: inline-block;
  width: 20px;
  margin: 0 5px 0 5px;
}

.bi {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.bi:hover {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}

.bi-trash {
  color: #cb5656;
}

.bi-pencil {
  color: #67b700;
}
