.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
}

.modal .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 995;
  background: rgba(0,0,0,0.60);
}

.modal-content {
  width: 400px;
  height: 600px;
  background-color: #fff;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 14px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

section {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

.fc-input {
  display: flex;
  flex-direction: column;
}

.fc-input label {
  font-weight: 500;
  margin-bottom: 4px;
}

.fc-input input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
  font-size: 1.2rem;
}

.fc-bottom {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.fc-preview {
  width: 100%;
  height: 240px;
  border-radius: 8px;
  background-color: #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fc-card {
  width: 300px;
  height: 160px;
  border-radius: 8px;
}

.fc-card span {
  font-weight: 500;
}

.fc-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 600ms;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
}

.fc-card-front, .fc-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.fc-card-front {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fc-card-back {
  background-color: #fff;
  transform: rotateY(180deg);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}


