<nav>
  <div class="nav-start">
    <a routerLink="home">flash-cards</a>
  </div>
  <div class="nav-end">
    <div *ngIf="!isUserAuthenticated()" class="actions flex gap-3">
      <p-button label="Sign In" routerLink="/auth/sign-in" styleClass="p-button-secondary p-button-sm"></p-button>
      <p-button label="Sign Up" routerLink="/auth/sign-up" styleClass="p-button-secondary p-button-sm"></p-button>
    </div>
    <div *ngIf="isUserAuthenticated()" class="">
      <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body"></p-menu>
      <div class="user flex align-items-center gap-3">
        <button class="user-button m-0 p-0" pBadge severity="danger">
          <i class="pi pi-bell">
          </i>
        </button>
        <div class="flex align-items-center gap-1">
          <p-avatar image="https://i.pravatar.cc/30" shape="circle">
          </p-avatar>
          <button class="user-button m-0 p-0" (click)="menu.toggle($event)">
            <i class="pi pi-angle-down"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
<p-toast></p-toast>
<div class="body-content">
  <router-outlet></router-outlet>
</div>
