<nav>
  <div class="nav-start">
    <a routerLink="home">flash-cards</a>
  </div>
  <div class="nav-end">
    <div *ngIf="!isUserAuthenticated()" class="actions flex gap-3">
      <p-button label="Sign In" routerLink="/auth/sign-in" styleClass="p-button-secondary p-button-sm"></p-button>
      <p-button label="Sign Up" routerLink="/auth/sign-up" styleClass="p-button-secondary p-button-sm"></p-button>
    </div>
    <div *ngIf="isUserAuthenticated()" class="">
      <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body"></p-menu>
      <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-bars" [label]="user!.username"></button>
    </div>
  </div>
</nav>
<p-toast></p-toast>
<div class="body-content">
  <router-outlet></router-outlet>
</div>
