.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.side-bar {
  min-width: 280px;
  background-color: #86B97F;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.side-bar ul {
  list-style: none;
}

.side-bar ul li svg{
  width: 1.5rem;
  height: 1.5rem;
  fill: rgba(255, 255, 255, 0.8);
}

.side-bar ul li svg:hover{
  fill: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.content-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  flex-grow: 1;
}
