<div class="project-list-container">
  <div class="panel-main">
    <div class="projects-panel">
      <div class="panel-top">
        <div class="title">
          Projects
        </div>
      </div>
      <div class="panel-mid">
        <div class="project-card-wrapper panel">
          <h1>Italiano</h1>
          <h2>Nauka włoskiego. Słówka, zwroty itp.</h2>
          <div class="project-card-bottom">
            <div class="project-visibility">Public</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
