<div class="container">
  <div class="form-wrap">
    <form [formGroup]="singUpFormGroup" (ngSubmit)="handleOnSubmit()" autocomplete="off" novalidate>

      <span class="p-float-label">
        <input pInputText formControlName="firstname" class="col-12 p-inputtext-lg">
        <label htmlFor="firtname">Firt Name</label>
      </span>
      <span class="p-float-label">
        <input pInputText formControlName="lastname" class="col-12 p-inputtext-lg">
        <label htmlFor="lastname">Last Name</label>
      </span>
      <span class="p-float-label">
        <input pInputText formControlName="email" class="col-12 p-inputtext-lg">
        <label htmlFor="email">E-mail</label>
      </span>
      <span class="p-float-label">
        <input pInputText formControlName="password" class="col-12 p-inputtext-lg">
        <label htmlFor="password">Password</label>
      </span>
      <button pButton type="button" label="Sign Up" type="submit">
      </button>
    </form>
  </div>
</div>

