.fc-context-menu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: fit-content;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  opacity: 100% !important;
}

li {
  display: flex;
  gap: 0.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5rem 1rem;
  justify-content: flex-start;
  align-items: center;
  color: black;
}

li:hover {
  background-color: #efefef;
  opacity: 100% !important;
}

li:first-child {
  border-bottom: 1px solid #e8e8e8;;
  border-radius: 8px 8px 0 0;
}

li:last-child {
  border-radius: 0 0 8px 8px;
}

li svg {
  width: 1rem;
  height: 1rem;

}

.edit {
  fill: #5a90c5;
}

.delete {
  fill: #d26767;
}
