<div class="container">
  <p-breadcrumb [model]="breadCrumbItems" [home]="homeItem" styleClass="border-none p-0 m-0 text-sm surface-200"></p-breadcrumb>
  <section class="mt-3">
    <span class="font-semibold text-lg mb-6">Collection</span>
    <p-card styleClass="col-12 md:col-12 lg:col-6 xl:col-6">
      <ng-template pTemplate="title">
        {{ collection?.name }}
      </ng-template>
      <ng-template pTemplate="subtitle">
        {{ collection?.description}}
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-between">
          <div class="flex align-items-center">
            <i class="pi pi-credit-card mr-2"></i>
            <span>{{collection?.numberOfFlashCards}}</span>
          </div>
          <p-button icon="pi pi-cog" label="Settings"
                    styleClass="p-button-outlined p-button-sm p-button-secondary"></p-button>
        </div>
      </ng-template>
    </p-card>
  </section>
