.nav-bar {
  width: 100%;
  height: 50px;
  background-color: var(--nav-bar-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation {
  margin-right: 40px;
}

.avatar {
  display: flex;
  align-items: center;
  color: var(--dark-color);
}

.avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
}


