@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #EEEEEE;
}

.btn {
  width: fit-content;
  padding: .6rem 1rem;
  border-radius: 2rem;
  border: none;
  color: #fff;
  font-weight: 500;
}

.btn-green {
  background-color: #86B97F;
  transition: all 100ms ease-in-out 0s;
}

.btn-green:hover {
  background-color: #5d795a;
}

.btn-clear {
  background-color: transparent;
  color: #3F3C48;
  border: 1px solid transparent;
  transition: all 100ms ease-in-out 0s;
}

.btn-clear:hover {
  border: 1px solid #3F3C48;
}

.btn-red {
  background-color: #d26767;
}

.btn-red:hover {
  background-color: #9b5353;
}

.btn-red-border {
  background-color: transparent;
  border: 1px solid #d26767;
  color: #d26767;
}

.btn-red-border:hover {
  background-color: #d26767;
  border: 1px solid #fff;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

.btn-border-dark {
  border: 1px solid #3F3C48;
  color: #3F3C48;
  fill: #3F3C48;
  transition: all 100ms ease-in-out 0s;
}

.btn-border-dark:hover {
  background-color: #3F3C48;
  color: #fff;
  fill: #fff;
}

.btn svg {
  width: 1rem;
  height: 1rem;
}


.breadcrumb {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.breadcrumb svg {
  width: 1rem;
  height: 1rem;
  opacity: 0.6;
}

.breadcrumb span {
  font-size: 1.1rem;
  opacity: 0.6;
}

.breadcrumb span:hover {
  cursor: pointer;
  opacity: 1;
}

.breadcrumb span:last-child {
  font-weight: 500;
  opacity: .9;
}
