@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --mid-color: #393B4A;
  --dark-color: #2A2836;
  --secondary-color:  #45B0E5;
  --light-blue-color: #57A3FD;
  --light-gray: #E7E7EE;
  --nav-bar-color: #fff;
}

* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background-color: var(--nav-bar-color);
}
