@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --dark-color: #393B4A;
  --secondary-color:  #ffb127;
  --light-gray: #f4f4f4;
  --mid-gray: #eaebf1;
  --dark-gray: #9b9b9f;
  --very-dark-gray: #717171;
  --nav-bar-color: #fff;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  background-color: var(--nav-bar-color);
}
