<div class="content-panel-container">
  <div class="panel-top">
    <div class="breadcrumb">
      Collections
    </div>
    <div class="title">
      Lezione 1
    </div>
  </div>
  <div class="panel-main">
    <table>
      <tr class="table-header">
        <th>#</th>
        <th>Front</th>
        <th>Back</th>
        <th>Actions</th>
      </tr>
      <tr>
        <td>1</td>
        <td>być</td>
        <td>essere</td>
        <td></td>
      </tr>
      <tr>
        <td>2</td>
        <td>mieć</td>
        <td>avere</td>
        <td></td>
      </tr>
      <tr>
        <td>3</td>
        <td>jeść</td>
        <td>mangiare</td>
        <td></td>
      </tr>
      <tr>
        <td>4</td>
        <td>robić</td>
        <td>fare</td>
        <td></td>
      </tr>
      <tr>
        <td>5</td>
        <td>spacerować</td>
        <td>passegiare</td>
        <td></td>
      </tr>
    </table>

  </div>
  <div class="panel-bottom">

  </div>
</div>
