* {
  color: black;
}

.content-panel-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  flex-grow: 1
}

.breadcrumb {
  color: var(--very-dark-gray);
  font-size: 0.8rem;
  font-weight: 500;
}

.title {
  color: var(--very-dark-gray);
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}

.panel-main {
  margin-top: 12px;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #fff;
  border-radius: 12px;
}

table {
  width: 100%;
  height: fit-content;
}

tr {
  height: fit-content;
  border-bottom: 1px solid var(--mid-gray);
}

th, td {
  padding: 15px;
  text-align: left;
}

table, th, td {
  border-collapse: collapse;
}

tr:nth-child(2n+3) {
  background: var(--light-gray);
}

tr:hover {
  background-color: var(--mid-gray);
}

.table-item {
  cursor: pointer;
}

.table-header {
  background-color: var(--dark-color);
  cursor: default;
}

.table-header th:first-child {
  border-radius: 4px 0 0 0;
}

.table-header th:last-child {
  border-radius: 0 4px 0 0;
}

.table-header:hover {
  background-color: var(--dark-color);
}

th {
  color: #fff;
  font-weight: 500;
}

.table-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

th:last-child, td:last-child {
  max-width: 30px;
}

.fa {
  width: 15px;
  height: 15px;
  margin-right: 20px;
  fill: var(--very-dark-gray);
}

.fa:hover {
  fill: var(--secondary-color);
}

.fa:active {
  transform: scale(1);
}

button {
  cursor: pointer;
  padding: 8px;
  font-weight: 500;
  background-color: var(--secondary-color);
  color: black;
  border: none;
  border-radius: 2px;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

.pagination span {
  font-size: 0.8rem;
  font-weight: 500;
}

.pagination button {
  min-width: 20px;
  min-height: 20px;
  font-size: 0.8rem;
  padding: 4px;
}

.btn-pagination {
  width: 80px;
  background-color: transparent;
}

.btn-pagination:hover {
  cursor: pointer;
  font-weight: 700;
}

.btn-fill {
  transition: all 0.15s ease-in 0s;
}

.btn-fill:hover {
  color: var(--secondary-color);
  background-color: var(--dark-color);
}

.btn-clear {
  background: var(--light-gray);
  border: 1px solid transparent;
  color: black;
}

.btn-clear:hover {
  border: 1px solid var(--secondary-color);
}

.actions {
  display: flex;
}


