* {
  color: black;
}

:host(app-content-panel) {
  width: 100%;
  height: 100%;
}

.project-panel-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  flex-grow: 1;
}

.panel-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.breadcrumb {
  color: var(--very-dark-gray);
  font-size: 0.8rem;
  font-weight: 500;
}

.title {
  color: var(--very-dark-gray);
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}

.panel-main {
  min-height: 600px;
  margin-top: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #fff;
  border-radius: 4px;
}

table {
  width: 100%;
  height: fit-content;
}

tr {
  max-width: 100%;
  height: fit-content;
  border-bottom: 1px solid var(--mid-gray);
  display: flex;
  justify-content: space-between;
}

th, td {
  padding: 15px;
  flex-grow: 1;
  /*width: 25%;*/
  text-align: left;
}

th:nth-child(1), td:nth-child(1) {
  width: 10%;
}

th:nth-child(2), td:nth-child(2) {
  width: 40%;
}

th:nth-child(3), td:nth-child(3) {
  width: 40%;
}

th:nth-child(4), td:nth-child(4) {
  width: 10%;
}

table, th, td {
  border-collapse: collapse;
}

tr:nth-child(2n+3) {
  background: var(--light-gray);
}

tr:hover {
  background-color: var(--mid-gray);
}

.table-item {
  cursor: pointer;
}

.table-header {
  background-color: var(--dark-color);
  cursor: default;
  border-radius: 4px 4px 0 0;
}

.table-header:hover {
  background-color: var(--dark-color);
}

th {
  color: #fff;
  font-weight: 500;
}

.table-actions {
  display: flex;
  justify-content: flex-end;
}

.fa {
  width: 15px;
  height: 15px;
  margin-right: 20px;
  fill: var(--very-dark-gray);
}

.fa-table-action:hover {
  fill: var(--secondary-color);
}

.fa:active {
  transform: scale(1);
}

button {
  cursor: pointer;
  padding: 8px;
  font-weight: 500;
  background-color: var(--secondary-color);
  color: black;
  border: none;
  border-radius: 2px;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-nav {
  display: flex;
  background-color: #ffffff;
  padding: 6px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.pagination-nav span {
  min-width: 20px;
  min-height: 20px;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.pagination-pages {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination button {
  min-width: 20px;
  min-height: 20px;
  font-size: 0.8rem;
  padding: 4px;
}

.fa-pagination {
  margin: 0;
  fill: var(--very-dark-gray);
}

.fa-pagination-inactive {
  opacity: 0.4;
}

.fa-pagination:hover {
  fill: var(--secondary-color);
}

.fa-pagination-inactive:hover {
  fill: var(--very-dark-gray) !important;
}

.btn-pagination {
  background-color: transparent;
}

.btn-pagination:hover {
  cursor: pointer;
  font-weight: 700;
}

.prev-page-wrapper, .next-page-wrapper {
  min-width: 20px;
  min-height: 20px;
}

.prev-page-wrapper {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.next-page-wrapper {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-fill {
  transition: all 0.15s ease-in 0s;
}

.btn-fill:hover {
  color: var(--secondary-color);
  background-color: var(--dark-color);
}

.btn-clear {
  background: var(--light-gray);
  border: 1px solid transparent;
  color: black;
}

.btn-clear:hover {
  border: 1px solid var(--secondary-color);
}

.actions {
  display: flex;
}


