* {
  color: black;
}

.content-panel-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  flex-grow: 1
}

.breadcrumb {
  color: var(--dark-gray);
  font-size: 0.8rem;
  font-weight: 500;
}

.title {
  color: var(--dark-gray);
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}

.panel-main {
  margin-top: 12px;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #fff;
  border-radius: 12px;
}

table {
  width: 100%;
  height: fit-content;
}

tr {
  height: fit-content;
}

th, td {
  padding: 15px;
  text-align: left;
}

table, th, td {
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: var(--light-gray);
}

tr:hover {
  background-color: var(--mid-gray);
}

.table-header:hover {
  background-color: transparent;
}

th {
  font-weight: 500;
}

.table-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

button {
  text-decoration: none;
  cursor: pointer;
  padding: 8px;

  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 2px;
}

