.fc-list-container {
  width: 100%;
  justify-content: center;
}

.fc-list {
  width: 60%;
  align-items: center;
}

table {
  border-collapse: separate;
  height: fit-content;
  border-spacing: 0 8px;
  width: 100%;
}

.header {
  background-color: rgba(0,0,0,0);
}

th {
  text-align: left;
  padding: 10px;
  color: #5c6272;
}

.add-new-btn {
  margin: 10px 0 10px 10px;
  color: #1089FF;
}

.add-new-btn svg {
  width: 30px;
  height: 30px;
}

.table-top {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

tbody tr {
  background-color: #F2F3FB;
  border-radius: 10px;
}

tbody tr:hover {
  background-color: #ffffff;
}
