.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
}

.modal .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 995;
  background: rgba(0,0,0,0.60);
}

.modal .modal-content {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow: auto;
  background: #fff;
  box-sizing: border-box;
  padding: 30px 25px 10px 25px;
  border-radius: 5px;
  min-width: 600px;
  min-height: 500px;
}

.modal-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

h2 {
  font-weight: 700;
  font-size: 1.4rem;
}

.fc-preview-container {
  min-width: 350px;
  min-height: 250px;
  background-color: var(--mid-gray);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}

.fc-preview {
  width: 80%;
  height: 80%;
  min-height: 160px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
  max-width: 300px;
  max-height: 200px;
  padding: 10px;
}

.fc-preview span {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  max-width: 100%;
}

.fc-preview:hover {
  -webkit-box-shadow: 0 0 42px -17px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0 0 42px -17px rgba(66, 68, 90, 1);
  box-shadow: 0 0 42px -17px rgba(66, 68, 90, 1);
}

.fc-input {
  display: flex;
  flex-direction: column;
}

.fc-input label {
  font-weight: 500;
  margin-bottom: 4px;
}

.fc-input input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
  font-size: 1.2rem;
}

.fc-bottom {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

button {
  cursor: pointer;
  padding: 8px;
  font-weight: 500;
  background-color: var(--secondary-color);
  color: black;
  border-radius: 2px;
  border: none;
}

.btn-close {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  transition: all 0.3s ease 0s;
  fill: var(--very-dark-gray);
}

.btn-close:hover {
  color: red;
  fill: red;
}

.btn-clear {
  background: var(--light-gray);
  color: black;
  border: 1px solid transparent;;
}

.btn-clear:hover {
  border: 1px solid var(--secondary-color);
}


.btn-clear svg {
  width: 20px;
  height: 20px;
}

.btn-fill {
  transition: all 0.15s ease-in 0s;
}

.btn-fill:hover {
  color: var(--secondary-color);
  background-color: var(--dark-color);
}

.btn-clear {
  background: var(--light-gray);
  color: black;
}

.btn-clear:hover {
  border: 1px solid var(--secondary-color);
}
