<div [ngClass]="customClass || ''" class="modal" [ngStyle]="{display: show ? 'block' : 'none'}">
  <div class="overlay" (click)="closeCallback()">
  </div>
  <div class="modal-content">
    <!--      <ng-content></ng-content>-->
    <h2>New Flash Card</h2>
    <div class="fc-preview-container">
      <div class="fc-preview">
        być
      </div>
    </div>
    <form [formGroup]="form" class="fc-input" (ngSubmit)="onSubmit($event)">
      <label for="front">Front</label>
      <input formControlName="front" type="text" id="front">
      <label for="back">Back</label>
      <input formControlName="back" type="text" id="back">
      <div class="fc-bottom">
        <button type="submit" name="add">Add</button>
        <button type="submit" name="addNext">Add Next</button>
      </div>
    </form>
  </div>
</div>
