.card {
  width: 400px;
  min-height: 200px;
  margin: 10px;
  padding: 10px;

  border-radius: 5px;
  box-shadow: 0px 0px 17px 0px rgba(66, 68, 90, 0.5);

  justify-content: center;
  align-items: center;

  background-color: #f5f5f5;
  cursor: pointer;
  font-size: 2em;
}

.card-text {
  white-space: pre-line;
}
